


.parentMedia {
  padding-top: 15px;
  max-width:100%;
  max-height:80%;
}

.mainRowColumn {
  height: 55vh;
  margin-top: 15px;
  margin-bottom: 15px;
}

.challengeInfo {
  background: #3E3E3E;
  border: black 5px;
  margin-top: 80px;
}

.fixed {
  position: fixed;
  height: 100vh;
  background: lightgray;
}

.left-fixed {
  position: fixed;
  height: 100vh;
  background: lightgray;
}

.outerBar {
  position: relative;
}

.main-challenge-description {
  color: white;
  font-size: 1.2em;
}

.main-challenge-title {
  color: white;
}

textarea {
  width: 60%;
  border-radius: 5px;
}

.comment-box {
  padding-left: 0px;
  padding-right: 0px;
}

.comment-button {
  float: right;
}

#comments {
  overflow-y: auto;
  height: 75%;
}  

.response-buttons-top {
  margin-top: 5px;
  margin-bottom: 15px;
}

.response-list {
  width: 100%;
  height: 85vh;
  overflow-y: scroll
}

.response-button {
  background-color: orange;
   height: 30px;
   width: 90px;
   cursor:pointer;
   border: orange;
   border-radius: 0px;
   color:white;
   margin: 55px 10px 0 10px;
}

.response-button:hover {
   background-color: darkorange;
   color:white;
}

.response-info {
  background:#3E3E3E;
  height: 90%;
  color: white
}

.one-response {
  /*margin: 0 0 15px 0;*/
  margin-right: 10px;
  margin-left: 10px;
  height: 30vh;
}

.response-interaction {
  position: absolute;
  right: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  bottom:0;
  width: 100%;
}

/*JUST FOR SAFTEY!!!!!*/