


.parentMedia {
  width: 100%;
  height: 100%;
}

.mainRow {
  
  border: red solid;
}

.current-viewing-row {
  height: 75vh;
  margin-top: 70px;
  border: blue solid;
}

.current-viewing-box {
  height: 100%;
  border: orange dashed;
}

.current-media-row {
  border: green solid 2px;
  height: 75%;
}

.current-challenge-info-row {
  border: purple solid 2px;
  height: 25%;
}

.timestamp {
  font-size: 0.9em;
  float: right;
}

.current-info {
  padding: 15px;
  font-size: 1em;
}

.current-info-timestamp {
  float: right
}

.fixed {
  position: fixed;
  height: 100vh;
  background: white;
  border: tomato solid;
}

.left-fixed {
  position: fixed;
  height: 100vh;
  background: lightgray;
}

.outerBar {
  position: relative;
}

.main-challenge-title {
  font-size: 1.8rem;
}

.main-challenge-description {
  font-size: 1em;
}

.comments-row {
  margin-top: 20px;
}

textarea {
  width: 100%;
  border-radius: 5px;
}

.comment-box {
  padding-left: 0px;
  padding-right: 0px;
}

.chat-form {
  width: 70%;
  margin-bottom: 10px;
}

.comment-button {
  background: orange;
  color: white;
  border: none;
  border-radius: 3px
}

.comment-button:hover {
  background: darkorange
}

#comments {
  overflow-y: auto;
  height: 75%;
}  

.one-comment {
  background: lightgray;
  margin: 5px 0 5px 0;
}

.comment-data {
  padding: 10px;
}

.username {
  font-size: 1.2em
}


.response-media {
  width: 100%;
  height: 100%;
}

.response-buttons-top {
  margin-top: 5px;
  margin-bottom: 15px;
}

.response-list {
  width: 100%;
  height: 85vh;
  overflow-y: scroll
}

.response-button {
  background-color: orange;
   height: 30px;
   width: 90px;
   cursor:pointer;
   border: orange;
   border-radius: 0px;
   color:white;
   margin: 55px 10px 0 10px;
   border-radius: 3px;
}

.response-button:hover {
   background-color: darkorange;
   color:white;
}

.response-info {
  /*background:#3E3E3E;*/
  height: 100%;
  padding: 0;
}

.one-response {
  margin: 0 10px 10px 10px;
  height: 20vh;
border: black solid
}

.response-data > li {
  display: block;
  padding: 10px;
}

/*.response-interaction {
  position: absolute;
  right: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  bottom:0;
}*/

