img {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

video {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

.media {
  width: 100%;
}

.edit {
  float: right;
  display: inline;
}

.delete {
  float: right;
}

.editor {
  float: right;
  margin-top: 20px;
}