/*img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}*/



.one-challenge {
  height: 40vh;
  border: lightgrey solid 1px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.challenge-list-media {
  max-width: 100%;
  max-height: 100%
}

.social-button {
  background:white;
  box-shadow:  none;
  border-radius: 0px;
  border: none;
  margin: 0.5px  
}

social-button.active {
  background:white;
  box-shadow:  none;
  border-radius: 0px;
  border: none;
  margin: 0.5px  
}

.challenge-buttons {
  position: absolute;
  bottom: 0;
  margin-left: 25%;
  margin-right: auto
}
