.challengeRow {
  margin-top: 65px;
   background: rgb(128, 128, 128); 
   background: rgba(128, 128, 128, .7);
   height: 80vh;
}

.challengeInfo {
  /*border: #3E3E3E solid;*/
  background: #3E3E3E;
  margin-top: 15px;
  margin-bottom: 15px;
}

.parentMedia {
  width: 50%;
  height: 100%;
}

.userLink {
  font-size: 0.8em;
}

#comments {
  margin: 15px 15px 0px 15px;
  overflow-y: auto;
  height: 60vh;
  border: #3E3E3E solid 3px; 
  padding: 15px;
  display: block;
  width: 90%;
  background: white;
}  

.comment-box {
  align-items: center;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
  position: fixed;
  display: block;
  background: #3E3E3E
}

.commentButton {
  margin: 2px 50px 15px 50px;
}

textarea {
  margin: 15px 15px 0px 15px;
  padding: 2px;
  width: 90%;
  resize: none;
  border: 1px darkgray 2px;
}
