.profileContainer {
  height: 90vh;
  border-right: dashed #3E3E3E 0.1px;
}

#picContainer {
  width: 100%;
  border-bottom: dashed #3E3E3E 0.1px;
}

.profileInfo {
  font-size: 20px;
  margin-top: 34px;
}

.task-buttons {
  float: right;
  position: relative;
  margin-left: 50px;
}

p {
  float: center;
  margin-left: 150px;
}

.challenge-title-row {
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

challenge-media-row {
  border: 2px solid white;
}

.challenge-list-media {
  max-width: 100%;
  max-height: 100%;
}

.profilePic{
  height: 40vh;
  width: 40vh;
  margin: 15px;
  border-radius: 50%;
  display: block;
}

.challenge.title {
  display: block;
}

.challenge.description {
  display: block;
}

.overallContent {
  margin-top: 65px;
}

.editPic {
  margin: 5px;
  position: relative;
  float: left;
  left: 0;
}

.nav-tabs {
  font-size: 20px;
  background-color: #3E3E3E;
  -webkit-box-shadow: 0 3px 0 #2CADAD;
  border-radius: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #3E3E3E;
  color: orange;
}

li>a {
  color:white;
}

.back-chat {
  float: right;
  height: 50%;
}